<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Genshin</title>

	<script>
	if(performance.navigation.type == 2){
		location.reload(true);
		}
			
			</script>
		
		<link href="/style.css" rel="stylesheet" type="text/css">

</head>

<body>

	<h1>Genshin</h1>

	<p>For UID <%= UID %></p>
	<div>
		<%- table %>
	</div>

	<hr>
	<a href="http://<%= link %>"> <u>HOME</u></a>
</body>

</html>
