<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Wrong Input</title>
</head>

<body>	
	<h1>Wrong Input!</h1>


	<hr>
	<a href="http://<%= link %>:<%= myVar %>"> <u>Try again</u></a>

</body>

</html>
